# Frontend (NextJS)
FRONTEND_URL=http://localhost:3000

# CORS (Allow all origins for development; adjust this to restrict origins in production deployments)
CORS_ORIGINS=["*"]

# OPENAPI (Uncomment the line below to disable the /docs and openapi.json urls)
OPENAPI_URL=/openapi.json